#admin-login {
    width: 400px;
    margin: 15% auto;
    text-align: center;
}

#admin-login-title {

}

#admin-username, #admin-pass {
    border: 2px solid rgba(235,114,52,0.7);
    border-radius: 8px;
    padding: 0 20px;
    margin: 20px 0 0 -20px;
}

#admin-pass {

}

#admin-login-button {
    margin: 20px 0 0 -20px;
    width: 110%;
    height: 45px;
    border-radius: 8px;
    background-color: black;
}

#admin-login-button:hover {
    color:grey;
}

