#admin-login {
    width: 400px;
    margin: 15% auto;
    text-align: center;
}

#admin-login-title {

}

#admin-username {

}

#admin-pass {

}

#admin-login-button {
    margin-top: 15px;
    width: 100%;
}

