/* General Page Design */
#hot-pic-form {

}

/* General Picture Design */

#selected-hot, #select-hot {
    position: relative;
    width: 100%;
    padding: 15px 15px 50px 15px;
    margin: 15px 0;
    /*border: 2px solid black;*/
    display: flex;
    flex-wrap: wrap;
}

.hot-pic {
    border: 2px solid black;
    border-radius: 11px;
    padding-bottom: 15px;
    margin: 0 30px 30px 0;
}

#pic {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 250px;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#pic-info-below {
    display: flex;
    flex-wrap: wrap;
}

#post-upload, #post-likes, #post-dislikes {
    margin: 0;
    padding: 0 0 0 15px;
}

#post-upload {
    padding-top: 15px;
}

#hot-pic-form {
    margin-left: auto;
    margin-right: 0;
}

.hot-pic #checkbox {
    margin: 15px 15px 0 15px;
    width: 36%;
    padding: 20px;
    text-align: right;

}


/* Selected Deisgn */


/* Select Design */

