html {
    scroll-behavior: smooth;
}

body {

}

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
}

header nav {
    background-color: dimgrey;
}

/* Logo */
#logo-box {
    width: 100px;
}

/* Buttons */
#visit-site:hover, #logoutButton:hover {
    color: black;
}

#visit-site {
    margin-right: 15px;
}

#logout-form {
    display: inline-block;
}

#logoutButton {
     margin-right: 15px;
}

/* Container for content between header and footer */
#side-and-content {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Side menu */
#side-menu {
    height: 100%;
    width: 200px;
    background-color: grey;
    padding-top: 50px;
}

#side-menu ul {

}

#side-menu ul li {
    padding: 10px 15px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#side-menu ul li a {
    font-size: 18px;
    color: white;
}

#side-menu ul li a:hover {
    color: black    ;
}

/* Content */
#admin-content {
    width: 50%;
    height: 100%;
    margin: 70px 30px;
}

#admin-content hr {
    border: none;
    height: 3px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
}

.page-footer {
    background-color: dimgrey;
}