#profile-cover {
    width: 100%;
    height: 300px;
    /*background-color: black;*/
}

#profile-pic {
    height: 250px;
    width: 250px;
    border-radius: 125px;
    border: 4px solid black;
    background-color: white;
    margin: -125px auto 0 auto;

    /* background image style */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#profile-edit-button {
    position: absolute;
    right: 0;
    margin: -110px 15px 0 0;
}

#profile-user-info {
    text-align: center;
}

#profile-posts-title, #profile-comments-title {
    text-align: center;
}

#profile-posts, #profile-comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#profile-posts a {
    color: black;
}



/* Settings */

#user-settings-menu {
    text-align: center;
    margin: 50px;
}

#profile-back-button {
    position: absolute;
    margin: -110px 0 0 15px;
}

/*#user-settings {*/
    /*width: 600px;*/
    /*margin: auto;*/
/*}*/

#user-info-form, #user-picture-form, #user-cover-form, #user-pass-form {
    width: 600px;
    margin: 50px auto;
    text-align: center;
    display: none;
}

#user-cover-form2 {
    width: 600px;
    margin: 50px auto;
    text-align: center;
}