#profile-cover {
    width: 100%;
    height: 300px;
    /*background-color: black;*/
}

#profile-pic {
    height: 250px;
    width: 250px;
    border-radius: 125px;
    border: 4px solid black;
    background-color: white;
    margin: -125px auto 0 auto;

    /* background image style */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#profile-edit-button {
    position: absolute;
    right: 0;
    margin: -110px 15px 0 0;
    background-color: black;
    border-radius: 8px;
}

#profile-edit-button:hover {
    color: grey;
}

#profile-user-info {
    text-align: center;
}

#profile-posts-title, #profile-comments-title {
    text-align: center;
}

#profile-posts, #profile-comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#profile-comments {
    margin-bottom: 50px;
}

#comment-user-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#profile-posts a {
    color: black;
}

/* Post edit and delete buttons */
#featpic:hover {
    opacity:0.5;
}

#update, #delete {
    position: absolute;
    display: none;
    margin-top: 90px;
    font-size: 18px;
}

#featpic:hover #delete, #featpic:hover #update {
    display: block;
}

#update {
    left: 0;
    margin-left: 75px;
}

#delete {
    right: 0;
    margin-right: 75px;
    background-color: red;
}

/* Settings */

#user-settings-menu {
    text-align: center;
    margin: 50px;
}

#profile-back-button {
    position: absolute;
    margin: -110px 0 0 15px;
    background-color: black;
    border-radius: 8px;
}

#profile-back-button:hover {
    color: grey;
}

#btn1, #btn2, #btn3, #btn4 {
    background-color: black;
    border-radius: 8px;
    margin: 5px;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover {
    color: grey;
}


/*#user-settings {*/
    /*width: 600px;*/
    /*margin: auto;*/
/*}*/

#user-info-form, #user-picture-form, #user-cover-form, #user-pass-form {
    width: 600px;
    margin: 50px auto;
    text-align: center;
    display: none;
}

#user-cover-form2 {
    width: 600px;
    margin: 50px auto;
    text-align: center;
}

#register-form-button {
    background-color: black;
    border-radius: 8px;
}

#register-form-button:hover {
    color: grey;
}

#profile-picture, #profile-cov, #username, #email, #country, #dob, #pass {
    border: 2px solid rgba(184,39,39,0.5);
    border-radius: 8px;
    padding: 0 15px;
}

#user-settings span::after {
    background-color: rgba(184,39,39,0.5);
    border: 2px solid rgba(184,39,39,0.5);
}

#user-settings span::before {
    border: 2px solid rgba(184,39,39,0.5);
}

/* Edit post */

.opacity-background-edit {
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color: rgba(49,49,49,0.95);
    overflow:auto;
    z-index: 9;
}

i#close {
    position:absolute;
    right: 10px;
    top: 10px;
    cursor:pointer
}

div#edit-post {
    position:absolute;
    left:50%;
    top:12%;
    margin-left:-300px;
    background-color: rgba(255,255,255,0.5);

}

form#edit-form {
    max-width:600px;
    min-width:300px;
    padding:20px 50px;
    background-color: rgba(255,255,255,0.5);
}

#imgUpload {
    width: 70%;
    padding: 0 10px 0 40px;
    margin-top:30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size:16px;
}

#imgTitle {
    width: 70%;
    padding: 0 10px 0 40px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size:16px;
}

#imgDescription {
    width:82%;
    height:95px;
    padding:10px 10px 10px 40px;
    resize:none;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size:16px;
    margin-bottom: 15px;
}

#uploadPost-button {
    width: 82%;
    height: 50px;
    padding-top: 8px;
    margin-bottom: 30px;
    border-radius: 5px;
}