@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/

.opacity-background-img {
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color: rgba(49,49,49,0.95);
    overflow:auto;
    z-index: 55;
}

i#close {
    position:absolute;
    right: 10px;
    top: 10px;
    cursor:pointer;
    color: black;
}

div#img-pop-up-box {
    position:absolute;
    background-color: rgba(255,255,255,1);
    width: 50%;
    left:40%;
    top:8%;
    text-align: center;
    margin-left:-300px;
    padding-bottom: 30px;
    opacity: 1 !important;
    background-color: white;
    margin-bottom: 50px;
    border-radius: 8px;
}

div#img-pop-up {
    width: 100%;
    height: 600px;
    margin: 40px auto 15px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-pop-up img {
    width: 100%;
}

#img-popup-content {
    display: flex;
    margin: 0 15px 50px 15px;
}

#img-title {
    color: black;
    font-size: 22px;
    margin: 0;
}

#img-title a:hover {
    font-weight: bold;
}

#img-popup-content #like-num-box, #img-popup-content #dislike-num-box, #img-popup-content #comment-num-box {
    width: 60px;
    border: 2px solid rgba(0,0,0,0.5);
    margin-top: 0px;
}

#post-react {
    /*position: absolute;*/
    float: right;
    margin: 40px -5px 0 auto;
    /*margin: -40px 0 0 15px;*/
    min-height: 36px;
}

#post-like, #post-dislike {
    background-color: black;
    border-radius: 10px;
}

#post-react a{
    color: white;
}

#post-react a:hover{
    color: grey;
}

#img-popup-info {
    position: absolute;
    text-align: left;
    margin: -100px 0 0 15px;
}

#img-uploaded-time p, #img-category p {
    margin: 0;
}

#img-description {
    margin: -30px 15px 50px 15px;
    text-align: left;
}

#show-comments {
    margin-bottom: 30px;
}

#display-comments {
    padding: 0 15px
}

#post-comment {
    width: 100%;
    margin-bottom: 15px;
    background-color: rgba(235,114,52,0.7);
    border-radius: 8px;
}

#post-comment hr {
    margin: 0 15px;
}

#post-comment-info {
    display: flex;
    padding: 0 15px;
}

#post-comment-user a:hover {
    font-weight: bold;
}

#post-comment-created {
    margin-left: auto;
    margin-right: 0;
}

#post-comment-content {
    text-align: left;
    padding: 0 15px;
}

#commentPictureShow {
    min-height: 100px;
    max-height: 300px;
    margin: 15px 0;
}

#post-comment-social {
    height: 50px;
    width: 100%;
    padding: 5px 15px;
    display: flex;
}

#post-comment-social-react {
    display: flex;
}

#post-comment-social-social {
    margin-left: auto;
    margin-right: 0;
    display: flex;
}

#comment-react-like, #comment-react-dislike, #comment-react-reply {
    /*height: 32px;*/
    border-radius: 15px;
    margin-right: 15px;
    background-color: black;
}

#post-comment-social-react a {
    color: white;
}

#comment-react-like:hover, #comment-react-dislike:hover, #comment-react-reply:hover {
    color: grey;
}


#post-comment-social #like-num-box, #post-comment-social #comment-num-box {
    height: 36px;
    margin-top: 0;
    border-radius: 15px;
    padding-top: 5px;
    width: 60px;
}

#post-comment-social #comment-num-box {
    padding-left: 5px;
    padding-top: 6px;
}

#post-comment-social #like-num-box p, #post-comment-social #comment-num-box p {
    margin-top: 0;
}

#comment-form {
    display: flex;
}

#comment-user-img {
    position: absolute;
    height: 35px;
    width: 35px;
    border: 2px solid rgba(184,39,39,0.5);
    border-radius: 50px;
    margin: 7px 8px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#make-comment {
    border: 2px solid rgba(184,39,39,0.5);
    border-radius: 8px;
    padding: 0 50px 0 50px;
    margin-right: 15px;
}

#gif-icon {
    height: 35px;
    width: 35px;
    position: absolute;
    right: 0;
    margin: 6px 125px 0 0;
    border: 2px solid rgba(184,39,39,0.5);
    border-radius: 50px;
    padding: 0;
    cursor: pointer;
}

#image-icon {
    height: 35px;
    width: 35px;
    position: absolute;
    right: 0;
    margin: 6px 165px 0 0;
    border: 2px solid rgba(184,39,39,0.5);
    border-radius: 50px;
    padding: 2px 0 0 0;
    cursor: pointer;
}

#gif-icon i {
    font-size: 30px;
}

#send-comment {
    width: 100px;
    height: 45px;
    border-radius: 8px;
    background-color: black;
}

#send-comment:hover {
    color: grey;
}

/* comment with picture */
#comment-img-form {
    position: absolute;
    right: 0;
    width: 50px;
    height: 35px;
    margin-right: 170px;
    margin-top: -100px;
}

#comment-write .upload-btn-wrapper {
    overflow: hidden;
    display: inline-flex;
    border: none;
    text-align: left;
}

#comment-write #imgCommentUpload {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: lightgrey;
    border: 2px solid rgba(184,39,39,0.5);
    color: black;
    margin: 19px 0 0 -15px;
    cursor: pointer;
}

#comment-write #imgCommentUpload i {
    margin-top: 2px;
    margin-left: -2px;
}


#comment-write .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}



/* img page not popup */

#img-back {
    position: absolute;
    background-color: black;
    margin-left: 15px;
    border-radius: 8px;
}

#img-back:hover {
    color: grey;
}

#showImgPage {
    width:50%;
    margin: 100px auto 50px auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
}

#showImgPage #img-pop-up {
    margin-top: 0;
}

#showImgPage #img-title a, #showImgPage #post-comment-user a {
    color: black;
}

#showImgPage #info-social {
    margin-right: 25%;
}

#showImgPage #gif-icon {
    margin-right: 32%;
}

#showImgPage #comment-img-form {
    margin-right: 34%;
    padding-top: 31px;
}

#showImgPage #imgCommentUpload {
    margin-left: 5px;
    margin-top: 18px;
}

#showImgPage #imgCommentUpload i {
    margin-top: 2px;
    margin-left: -2px;
}